.processingField {
    margin-bottom: 5px;
    clear:both;
}

.processingField .labelcol {
    float:left; 
    width: 110px; 
    text-align: right;
}

.existsFile .labelcol {
    color:red;
}

.errorInfo{
    color:red;
}

.processingField .labelcol label {
    font-weight: bold;
}

.iImporter .treeSelected{
    background-color: #e25a5a;
    background-image: linear-gradient(rgba(255, 255, 255, 0.698) 0%, rgba(255, 255, 255, 0) 100%);
    background-repeat: repeat-x;
    border-color: #ff3030;
    border-width: 1px 0;        
}
.iImporter .iGallery{
    text-align: center;
    float:left;
    padding: 5px;
    border: 1px solid #759dc0;
    margin: 2px;
    width: 110px;
    height: 140px;
}
.iImporter .iGallery img {
    width: 100px;
    height: 100px;
    padding-top: 5px;
}

