<script type="text/javascript">
    require([
        "dijit/Tree"
                , "dijit/form/RadioButton"
                , "dijit/tree/ObjectStoreModel"
                , "dojo/store/JsonRest"
                , "dojo/dom-attr"
                , "dojo/dom"
                , 'dojo/_base/connect'
                , "dijit/registry"
                , "dojo/_base/declare"
                , "dojo/json"
    ], function(Tree, RadioButton, ObjectStoreModel, JsonRest,
            domAttr, dom, cn, registry, declare, JSON) {
        var nodeId = "treeContentPane"
        var commandUrl = "lib/plugins/ajaxcommand/ajaxrest.php/ns_tree_rest/@sectokValue@/d/";



        var myStore = new JsonRest({
            target: commandUrl
            , getChildren: function(object) {
                return this.get(object.id).then(
                        function(fullObject) {
                            return fullObject.children;
                        }
                , function(error) {
                    console.log(error);
                });
            }
        });

        var myModel = new ObjectStoreModel({
            store: myStore
            , getRoot: function(onItem) {
                this.store.get("_").then(onItem);
            }
            , mayHaveChildren: function(object) {
                return object.type === "d";
            }
            , getLabel: function(object) {
                return object.name;
            }
        });

        var MyTreeNode = declare(Tree._TreeNode, {
            _setLabelAttr: {node: "labelNode", type: "innerHTML"}
        });
        var tree = new Tree({
            id: "gallery_nTree"
            , title: "My tree"
            , model: myModel
            , persist: false
            , showRoot: false
            , _createTreeNode: function(args) {
                var tnode = new MyTreeNode(args);
                tnode.labelNode.innerHTML = args.label;

                var cb = new RadioButton({'name': "radio_gallery_nTree"});
                cb.placeAt(tnode.labelNode, "first");

                cn.connect(cb, "onChange", function() {
                    var treeNode = registry.getEnclosingWidget(this.domNode.parentNode);
                    cn.publish("/item/clicked", [{
                            "control": this,
                            "item": treeNode.item}]);
                });

                return tnode;
            }
        }, nodeId);
        tree.startup();
        cn.subscribe("/item/clicked", function(value) {
            var inp = dom.byId("projectPath");
            if (value.control.checked) {
                domAttr.set(inp, 'value', value.item.id);
            }
        });

        var form = dojo.byId("fGallery");

        dojo.connect(form, "onsubmit", function(event) {
            dojo.stopEvent(event);
            var xhrArgs = {
                form: form,
                handleAs: "json",
                load: function(data) {
                    alert(data[0].type);
                    alert(JSON.stringify(data[0].value));
                },
                error: function(error) {
                    alert(error);
                }
            }
            var deferred = dojo.xhrPost(xhrArgs);
        });
    });
</script>

<style type="text/css">
    .iImporter .treeSelected{
        background-color: #e25a5a;
        background-image: linear-gradient(rgba(255, 255, 255, 0.698) 0%, rgba(255, 255, 255, 0) 100%);
        background-repeat: repeat-x;
        border-color: #ff3030;
        border-width: 1px 0;        
    }
    .iImporter .iGallery{
        text-align: center;
        float:left;
        padding: 5px;
        border: 1px solid #759dc0;
        margin: 2px;
        width: 110px;
        height: 140px;
    }
    .iImporter .iGallery img {
        width: 100px;
        height: 100px;
        padding-top: 5px;
    }

</style>
<form id="fGallery" name="igForm" method="post" action="/dokuwiki/lib/plugins/ajaxcommand/ajax.php?call=copy_image_to_project">
    <div class="iImporter">
        <div data-dojo-type='dijit/layout/ContentPane' title="Galeria" style="float:left; width:50%; height: 600px;">@galleryImage@</div>
        <div data-dojo-type='dijit/layout/ContentPane' title="Tree" style="float:left; width: 30%">
            <div>
                <div id="treeContentPane"></div>
            </div>
        </div>
        <div data-dojo-type='dijit/layout/ContentPane' title="Tree">
            <div>
                <div id="treeFrom" style="margin-top:10px;">
                    <input type="hidden" id="projectPath" name="projectPath"/>
                    <input type="submit" id="iSubmit" label="Copia imatges" title="Copia les imatges seleccionades en el directori seleccionat" data-dojo-type="dijit/form/Button" />
                </div>
            </div>
        </div>
    </div>
</form>
