<script type="text/javascript">
    require([
        "dijit/Tree"
                , "dijit/form/RadioButton"
                , "dijit/tree/ObjectStoreModel"
                , "dojo/store/JsonRest"
                , "dojo/dom-attr"
                , "dojo/dom"
                , 'dojo/_base/connect'
                , "dijit/registry"
                , "dojo/_base/declare"
                , "dojo/json"
                , "dojo/_base/event"
                , "dojo/_base/xhr"
                , "dojo/query"
    ], function(Tree, RadioButton, ObjectStoreModel, JsonRest,
            domAttr, dom, cn, registry, declare, JSON, event, xhr, query) {
        var nodeId = "treeContentPane"
        var commandUrl = "lib/plugins/ajaxcommand/ajaxrest.php/ns_tree_rest/@sectokValue@/d/";



        var myStore = new JsonRest({
            target: commandUrl
            , getChildren: function(object) {
                return this.get(object.id).then(
                        function(fullObject) {
                            return fullObject.children;
                        }
                , function(error) {
                    console.log(error);
                });
            }
        });

        var myModel = new ObjectStoreModel({
            store: myStore
            , getRoot: function(onItem) {
                this.store.get("_").then(onItem);
            }
            , mayHaveChildren: function(object) {
                return object.type === "d";
            }
            , getLabel: function(object) {
                return object.name;
            }
        });

        var MyTreeNode = declare(Tree._TreeNode, {
            _setLabelAttr: {node: "labelNode", type: "innerHTML"}
        });
        var tree = new Tree({
            id: "gallery_nTree"
            , title: "My tree"
            , model: myModel
            , persist: false
            , showRoot: false
            , _createTreeNode: function(args) {
                var tnode = new MyTreeNode(args);
                tnode.labelNode.innerHTML = args.label;

                var cb = new RadioButton({'name': "radio_gallery_nTree"});
                cb.placeAt(tnode.labelNode, "first");

                cn.connect(cb, "onChange", function() {
                    var treeNode = registry.getEnclosingWidget(this.domNode.parentNode);
                    cn.publish("/item/clicked", [{
                            "control": this,
                            "item": treeNode.item}]);
                });

                return tnode;
            }
        }, nodeId);
        tree.startup();
        cn.subscribe("/item/clicked", function(value) {
            var inp = dom.byId("projectPath");
            if (value.control.checked) {
                domAttr.set(inp, 'value', value.item.id);
            }
        });

        var form = dom.byId("fGallery");

        var xhrArgs = {
            form: form,
            handleAs: "json",
            load: function(data) {
                var info = data[0].value.info;
                if (data[0].value.code == 0) {
                    dom.byId("info").innerHTML = info;
                    setTimeout(function() {
                        dom.byId("info").innerHTML = "";
                    }, 2000);
                } else {
                    dom.byId("errorInfo").innerHTML = info;
                }
            },
            error: function(error) {
                console.log(error);
                dom.byId("errorInfo").innerHTML = "Error inesperat";
            }
        }

        function endsWith(str, suffix) {
            return str.indexOf(suffix, str.length - suffix.length) !== -1;
        }

        cn.connect(form, "onsubmit", function(e) {
            dom.byId("errorInfo").innerHTML = "";
            event.stop(e);
            var checks = query("#imageGallery input[type=radio]:checked");
            if (checks.length !== 0) {
                var tfImageName = dom.byId("tfImageName");
                var imageName = domAttr.get(tfImageName, 'value');
                if (imageName !== "") {
                    var deferred = xhr.post(xhrArgs);
                } else {
                    dom.byId("errorInfo").innerHTML = "El nom de la imatge no pot estar buit";
                }
            } else {
                dom.byId("errorInfo").innerHTML = "No has seleccionat cap imatge";
            }

        });
    });
</script>

<style type="text/css">
    .iImporter .treeSelected{
        background-color: #e25a5a;
        background-image: linear-gradient(rgba(255, 255, 255, 0.698) 0%, rgba(255, 255, 255, 0) 100%);
        background-repeat: repeat-x;
        border-color: #ff3030;
        border-width: 1px 0;        
    }
    .iImporter .iGallery{
        text-align: center;
        float:left;
        padding: 5px;
        border: 1px solid #759dc0;
        margin: 2px;
        width: 110px;
        height: 140px;
    }
    .iImporter .iGallery img {
        width: 100px;
        height: 100px;
        padding-top: 5px;
    }

</style>
<form id="fGallery" name="igForm" method="post" action="/dokuwiki/lib/plugins/ajaxcommand/ajax.php?call=copy_image_to_project">
    <div class="iImporter">
        <div data-dojo-type='dijit/layout/ContentPane' title="Galeria" style="float:left; width:40%; height: 600px;" id="imageGallery">@galleryImage@</div>
        <div data-dojo-type='dijit/layout/ContentPane' title="Tree" style="float:left; width: 30%">
            <div>
                <div id="treeContentPane"></div>
            </div>
        </div>
        <div data-dojo-type='dijit/layout/ContentPane' title="Tree">
            <div>
                <div id="treeFrom" style="margin-top:10px;">
                    <input type="hidden" id="projectPath" name="projectPath"/>
                    <label for="tfImageName">Nom: </label>
                    <input type="text" name="imageName" id="tfImageName" />
                    <input type="submit" id="iSubmit" label="Copia imatge" title="Copia la imatge seleccionada en el directori seleccionat" data-dojo-type="dijit/form/Button"/>
                </div>
                <div id="info"></div>
                <div class="errorInfo" id="errorInfo"></div>
            </div>
        </div>
    </div>
</form>
