<p>GENERATE IMAGE: con un texto de prueba de @dani@</p>
<!--<object type='application/x-java-applet' height='@appletHeight@' width='@appletWidth@'>
    <param name='@codeParam@' value='ioc.wiki.processingmanager.applet.ImageGeneratorApplet' />
    <param name='@archiveParam@' value='./lib/_java/javatest/processingManager.jar' />
    <param name='@urlsParam@' value='".$urls."' />
    <param name='@CookieParam@' value='".$strCookie."' />
    <param name='@sectokParam@' value='". getSecurityToken() . "' />
    <param name='@getPdeClassesURLParam@' value='"/*.DOKU_URL*/."lib/plugins/ajaxcommand/ajax.php?call=get_pde_classes_info'/>
    <param name='@getPdeClassesURLParam@' value='"/*.DOKU_URL*/."lib/plugins/ajaxcommand/ajax.php?call=get_pde_classes_info'/>
</object>-->