<!--p>GENERATE IMAGE: con un texto de prueba de @dani@</p-->
<object type='application/x-java-applet' height='@appletHeight@' width='@appletWidth@'>
    <param name='code' value='@codeParam@'/>
    <param name= 'archive' value= '@archiveParam@'/>
    <param name='urls' value='@urlsParam@' />
    <param name='Cookie' value='@CookieParam@'/>
    <param name='sectok' value='@sectokParam@' />
    <param name='getPdeClassesURL' value='@getPdeClassesURLParam@'/>
    <param name='commandToSave' value='@getCommandToSaveParam@'/>
</object>