<style type="text/css">
    .processingField {
        margin-bottom: 5px;
    }

    .processingField .labelcol {
        float:left; 
        width: 90px; 
        text-align: right;
    }
    .processingField .labelcol label {
        font-weight: bold;
    }
</style>
<script>
    require([
        'dojo/dom'
                , 'dojo/_base/xhr'
                , 'dojo/json'
                , 'dojo/_base/connect'
                , 'dojo/dom-construct'
                , 'dijit/registry'
                , 'dojo/ready'
                /*, 'dojo/parser'*/
                , 'dojo/dom-attr'
                , 'dojo/domReady!'
                , 'dijit/form/Button'
                , 'dojox/form/Uploader'
                , 'dijit/layout/TabContainer'
                , 'dijit/layout/ContentPane'
                , 'dojo/domReady!'
    ], function(dom, xhr, JSON, cn, domConst, registry, ready/*, parser*/, domAttr) {
        ready(function() {
            //parser.parse();

            var uploader = registry.byId('uploader');

            var handleUpload = function(upl, node) {
                cn.connect(upl, 'onComplete', function(data) {
                    //var json = JSON.parse(data, false);
                    alert('complete');
                    alert(JSON.stringify(data[0].value));
                    var div = domConst.create('div', {className: 'thumb'});
                    var span = domConst.create('span', {className: 'thumbbk'}, div);
                    span.innerHTML = '<p> type: ' + data[0].type + '</p>'
                            + '<p> value: ' + JSON.stringify(data[0].value) + '</p>'

                    dom.byId('response').appendChild(div);
                });
            };
            var handleDnD = function(domnode, uploader) {
                if (uploader.addDropTarget && uploader.uploadType == 'html5') {
//                    domConst.create('div', {innerHTML: 'Drag and Drop files to this fieldset'}, domnode, 'last');
                    uploader.addDropTarget(domnode);
                }
            };

            cn.connect(registry.byId('remBtn'), 'onClick', uploader, 'reset');
            cn.connect(uploader, 'onProgress', function(event) {event.stopPropagation();event.stop();});
            cn.connect(uploader, 'onSubmit', function(event) {event.stopPropagation();event.stop();});
            cn.connect(uploader, 'onBegin', function() {return false;});
            cn.connect(dom.byId('f1'), 'submit', function(event) {
//                alert("submit form");
                event.stopPropagation();
                var xhrArgs = {
                    url: '/dokuwiki/lib/plugins/ajaxcommand/ajax.php',
                    handleAs: 'json',
                    sync:'true',
                    content: {
                        call: 'save_pde_algorithm',
                        do: 'existsAlgorithm',
                        algorithmName: uploader.getFileList()[0].name
                    },
                    load: function(data) {
                        var code = data[0].value.code;
                        var form = dojo.byId("f1");
                        var action = domAttr.get(form, 'action');
                        var do_param = "";
                        alert(data[0].value.code);
                        if (code == 2) {
                            do_param = "appendAlgorithm";
                        }else {
                            //TODO
                        }
//                        alert(action+"&do="+do_param);
                        domAttr.set(form, 'action', action+"&do="+do_param);
                        alert(domAttr.get(form, 'action'));
                        uploader.submit();
                        handleUpload(uploader,dom.byId('response'))
                    },
                    error: function(error) {
                        alert(error);
                    }
                }
                xhr.get(xhrArgs);
            });
            cn.connect(registry.byId('submit'), 'onClick', function(){
                
            });
            //handleUpload(uploader, dom.byId('response'));
            if (require.has('file-multiple')) {
                handleDnD(uploader.domNode.parentNode, uploader);
            }
        });
    });
</script>
<form id="f1" name="f1" method="post" action="/dokuwiki/lib/plugins/ajaxcommand/ajax.php?call=save_pde_algorithm" enctype="multipart/form-data">
    <fieldset style="text-align: left; width:95%; height: 95%;" >
        <legend>Formulari per carregar algorismes de Processing</legend>
        <input type="hidden" name="do" id="doField"/>
        <div class="processingField">
            <span class="labelcol">
                <label for="uploader">Fitxer: </label>
            </span>
            <div id="uploader" title="Pots arrosegar el fitxer fins aquí" data-dojo-type="dojox/form/Uploader" data-dojo-props="name:'uploadedfile',showInput:'before',isDebug:true">Selecciona</div>
            <span>Pots arrosegar el fitxer fins aquí</span>
        </div>
        <div class="processingField">
            <span class="labelcol">
                <label for="nom_field" >Nom: </label>
            </span>
            <input style="margin-left: 3px" title="Introdueix un nom a l'algorisme" type="text" name="nom" id="nomField" value="Dani" aria-label="nom" />
        </div>
        <div class="processingField">
            <span class="labelcol">
                <label for="descripcio_field">Descripció: </label>
            </span>
            <textarea id="descripcioField" rows="5" style="width: 50%; margin-left: 3px;" name="descripcio" aria-label="descripcio">Descripcio dani</textarea>
        </div>
        <div class="processingField">
            <span class="labelcol">&nbsp;
            </span>
            <input type="button" id="remBtn" label="Neteja" data-dojo-type="dijit/form/Button" />
            <input type="submit" id="submit" label="Carrega" data-dojo-type="dijit/form/Button" />
        </div>
    </fieldset>
</form>