<style type="text/css">
    .processingField {
        margin-bottom: 5px;
    }

    .processingField .labelcol {
        float:left; 
        width: 90px; 
        text-align: right;
    }
    .processingField .labelcol label {
        font-weight: bold;
    }
</style>
<script>
    require([
        'dojo/dom'
                , 'dojo/_base/xhr'
                , 'dojo/json'
                , 'dojo/_base/connect'
                , 'dojo/dom-construct'
                , 'dijit/registry'
                , 'dojo/ready'
                /*, 'dojo/parser'*/
                , 'dojo/dom-attr'
                , 'dojo/domReady!'
                , 'dijit/form/Button'
                , 'dojox/form/Uploader'
                , 'dijit/layout/TabContainer'
                , 'dijit/layout/ContentPane'
                , 'dojo/domReady!'
    ], function(dom, xhr, JSON, cn, domConst, registry, ready/*, parser*/, domAttr) {
        ready(function() {
            //parser.parse();

            var sendForm = false;
            var callParam = "save_pde_algorithm";
            var doParam = "";
            var algorithmNameParam = "";


            var uploader = registry.byId('uploader');
            var form = dojo.byId("f1");

            var fileExistsDialog = registry.byId('fileExistsDialog');
            var bSobreescriure = registry.byId('bSobreescriure');
            var bRenombrar = registry.byId('bRenombrar');

            var renameDialog = registry.byId('renameDialog');
            var bOk = registry.byId('bOk');
            var bCancela = registry.byId('bCancela');
            var newFilename = dojo.byId("newFilename");


            var handleUpload = function(upl, node) {
                cn.connect(upl, 'onComplete', function(data) {
                    //var json = JSON.parse(data, false);
                    alert('complete');
                    alert(JSON.stringify(data[0].value));
                    var div = domConst.create('div', {className: 'thumb'});
                    var span = domConst.create('span', {className: 'thumbbk'}, div);
                    span.innerHTML = '<p> type: ' + data[0].type + '</p>'
                            + '<p> value: ' + JSON.stringify(data[0].value) + '</p>'

                    dom.byId('response').appendChild(div);
                });
            };

            var handleDnD = function(domnode, uploader) {
                if (uploader.addDropTarget && uploader.uploadType == 'html5') {
                    uploader.addDropTarget(domnode);
                }
            };

            var overrideAlgorithm = function() {
                doParam = "modifyAlgorithm";
//                algorithmNameParam = uploader.getFileList()[0].name;
            }   

            var renameFile = function() {
                
                doParam = "appendAlgorithm";
//                algorithmNameParam = domAttr.get(newFilename, 'value');
            }

            //fileExistsDialog events
//            cn.connect(fileExistsDialog, 'onHide', function() {alert("No has pujat cap algorisme al servidor")});
            cn.connect(bSobreescriure, 'onClick', overrideAlgorithm());
            cn.connect(bRenombrar, 'onClick', function() {
                fileExistsDialog.hide();
                domAttr.set(newFilename, 'value', uploader.getFileList()[0].name)
                renameDialog.show();
            });

            //renameDialog events
//            cn.connect(renameDialog, 'onHide', function() {alert("No has pujat cap algorisme al servidor")});
            cn.connect(bOk, 'onClick', renameFile());
            cn.connect(bCancela, 'onClick', function() {
                renameDialog.hide();
            });

            cn.connect(registry.byId('remBtn'), 'onClick', uploader, 'reset');

            var existeixFitxer = function() {
                doParam = "existsAlgorithm";
                algorithmNameParam = uploader.getFileList()[0].name;
                var xhrArgs = {
                    url: '/dokuwiki/lib/plugins/ajaxcommand/ajax.php',
                    handleAs: 'json',
                    sync: 'true',
                    content: {
                        call: callParam,
                        do: doParam,
                        algorithmName: algorithmNameParam
                    },
                    load: function(data) {
                        var code = data[0].value.code;
                        return code != 2;
                    },
                    error: function(error) {
                        alert(error);//TODO
                    }
                }
                return xhr.get(xhrArgs);
            }


            cn.connect(registry.byId('submit'), 'onClick', function() {
                var action = domAttr.get(form, 'action');
                if (existeixFitxer()) {
                    alert("Existeix fitxer");
                    fileExistsDialog.show();
                } else {
                    alert("No existeix fitxer");
                    doParam = "appendAlgorithm";
                    sendForm = true;
                }

                domAttr.set(form, 'action', action + "&do=" + doParam);
                return sendForm;
            });

            handleUpload(uploader, dom.byId('response'));

            if (require.has('file-multiple')) {
                handleDnD(uploader.domNode.parentNode, uploader);
            }
        });
    });
</script>
<form id="f1" name="f1" method="post" action="/dokuwiki/lib/plugins/ajaxcommand/ajax.php?call=save_pde_algorithm" enctype="multipart/form-data">
    <fieldset style="text-align: left; width:95%; height: 95%;" >
        <legend>Formulari per carregar algorismes de Processing</legend>
        <input type="hidden" name="do" id="doField"/>
        <div class="processingField">
            <span class="labelcol">
                <label for="uploader">Fitxer: </label>
            </span>
            <div id="uploader" title="Pots arrosegar el fitxer fins aquí" data-dojo-type="dojox/form/Uploader" data-dojo-props="name:'uploadedfile',showInput:'before',isDebug:true">Selecciona</div>
            <span>Pots arrosegar el fitxer fins aquí</span>
        </div>
        <div class="processingField">
            <span class="labelcol">
                <label for="nom_field" >Nom: </label>
            </span>
            <input style="margin-left: 3px" title="Introdueix un nom a l'algorisme" type="text" name="nom" id="nomField" value="Dani" aria-label="nom" />
        </div>
        <div class="processingField">
            <span class="labelcol">
                <label for="descripcio_field">Descripció: </label>
            </span>
            <textarea id="descripcioField" rows="5" style="width: 50%; margin-left: 3px;" name="descripcio" aria-label="descripcio">Descripcio dani</textarea>
        </div>
        <div class="processingField">
            <span class="labelcol">&nbsp;
            </span>
            <input type="button" id="remBtn" label="Neteja" data-dojo-type="dijit/form/Button" />
            <input type="submit" id="submit" label="Carrega" data-dojo-type="dijit/form/Button" />
        </div>
    </fieldset>
    <div data-dojo-type="dijit/Dialog" id="fileExistsDialog" title="Fitxer existent" style="display: none">
        <div class="dijitDialogPaneContentArea">
            <p>Ja existeix un fitxer amb aquest nom, què vols fer?</p>
        </div>
        <div class="dijitDialogPaneActionBar">
            <button data-dojo-type="dijit/form/Button" type="button" id="bSobreescriure">Sobreescriure</button>
            <button data-dojo-type="dijit/form/Button" type="button" id="bRenombrar">Renombrar</button>
        </div>
    </div>

    <div data-dojo-type="dijit/Dialog" id="renameDialog" title="Renombra el fitxer" style="display: none">
        <div class="dijitDialogPaneContentArea">
            Nou nom: <input type="text" name="newFilename" id="newFilename"/>
        </div>
        <div class="dijitDialogPaneActionBar">
            <button data-dojo-type="dijit/form/Button" type="button" id="bOk">Ok</button>
            <button data-dojo-type="dijit/form/Button" type="button" id="bCancela">Cancela</button>
        </div>
    </div>
</form>